# List

In [2]:
array = []
array = list()

array_numeros = [1,2,3]
array_float = [5.3, -2.3, 0.5]
array_str = ["A","B","C"]
array_misto = [2,2.3,"ABC"]
print(array)
print(array_numeros)
print(array_float)
print(array_str)
print(array_misto)

[]
[1, 2, 3]
[5.3, -2.3, 0.5]
['A', 'B', 'C']
[2, 2.3, 'ABC']

In [4]:
color = [1,2,
         3,
         4,5
]
print(color)

[1, 2, 3, 4, 5]

In [6]:
array = list([1,2,3])
print(array)
primeiro_elemento = array[0]
print(primeiro_elemento)
array[0] = 20
primeiro_elemento = array[0]
print(primeiro_elemento)
print(array[-1])
print(array)

[1, 2, 3]
1
20
3
[20, 2, 3]

In [7]:
array = [1,"texto",3]
print(array[1:3])

['texto', 3]

In [1]:
array = [10,2,3]
print(array)
array.append(2)
print(array)
array.insert(2,"4")
print(array)

[10, 2, 3]
[10, 2, 3, 2]
[10, 2, '4', 3, 2]

In [3]:
array = [10,2,3,20,"3"]
array.remove(10)
print(array)
array.pop(2)
print(array)

[2, 3, 20, '3']
[2, 3, '3']

In [4]:
print(len(array))

3

In [5]:
array.clear()
print(array)

[]

In [6]:
array = [1, 'Test',1.3, True]
print(1 in array)
print(False not in array)

True
True

In [7]:
lista = [5,6,7,2,3,4,7]
teste = lista.count(7)
print(teste)

2

In [10]:
lista = [5,6,7,2,3,4,7]
pos = lista.index(5)
print(pos)

0

In [11]:
array1 = [1,2,3]
array2 = [3,4,5]
soma = array1 + array2
print(soma)

[1, 2, 3, 3, 4, 5]

In [12]:
array1 = [1,2,3]
multi = array1 * 3
print(multi)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [14]:
numeros = ["um","dois","três"]
x,y,z = numeros
print(x)
print(y)
print(z)

um
dois
três

In [15]:
numeros = ["um","dois","três"]
x,y,_ = numeros
print(x)
print(y)

um
dois

In [16]:
cores = ["azul","preto","amarelo"]
for cor in cores:
    print(cor)

azul
preto
amarelo

In [17]:
cores = ["azul","preto","amarelo"]
for i in range(0,len(cores)):
    print(cores[i])

azul
preto
amarelo

In [18]:
cores = ["azul","preto","amarelo"]
indice = 0
while (indice < len(cores)):
    print(cores[indice])
    indice +=1

azul
preto
amarelo

In [22]:
lista = [[1,2,3],[4,5,6]]
primeira_lista = lista[0]
segunda_lista = lista[1]
print(primeira_lista)
print(segunda_lista)
primeiro_elemento_da_primeira_lista = lista[0][0]
print(primeiro_elemento_da_primeira_lista)
segundo_elemento_da_segunda_lista = lista[1][1]
print(segundo_elemento_da_segunda_lista)

[1, 2, 3]
[4, 5, 6]
1
5

# Set

In [23]:
lista_set = {}
lista2_set = {1,2,3}
lista3_set = set({1,2,3})
print(lista_set)
print(lista2_set)
print(lista3_set)

{}
{1, 2, 3}
{1, 2, 3}

In [24]:
lista2_set = {1,2,3}
lista2_set[0]

TypeError: 'set' object is not subscriptable

In [25]:
lista2_set = {1,2,3}
lista2_set[0] = 2

TypeError: 'set' object does not support item assignment

In [26]:
lista_set = {1,2,3}
lista_set.add(5)
print(lista_set)

{1, 2, 3, 5}

In [27]:
lista_set = {1,2,3}
lista_set.add(5)
print(lista_set)
lista_set.remove(1)
print(lista_set)

{1, 2, 3, 5}
{2, 3, 5}

In [29]:
lista_set = {1,2,3,4,2}
lista_set.add(1)
print(lista_set)

{1, 2, 3, 4}

In [30]:
lista_set = {1,2,3,4}
lista_set.clear()
print(lista_set)

set()

In [31]:
lista_set = {1,2,3,4}
print(len(lista_set))

4

In [32]:
lista_set = {1,2,3,4}
print(1 in lista_set)

True

In [33]:
lista_set = {1,2,3,4}
print(5 in lista_set)

False

In [34]:
lista_set = {1,2,3,'4',True,6.1}
for item in lista_set:
    print(item)

1
2
3
6.1
4

In [35]:
set1 = {1,2,3}
set2 = {1,2,3,4}
set_unido = set1.union(set2)
print(set_unido)

{1, 2, 3, 4}

In [36]:
set1 = {1,2,3}
set2 = {4,5,6,7}
set_unido = set1.union(set2)
print(set_unido)

{1, 2, 3, 4, 5, 6, 7}

In [37]:
set1 = {1,2,3}
set2 = {3,4,5,6}
set_unido = set1.union(set2)
print(set_unido)

{1, 2, 3, 4, 5, 6}

In [38]:
set1 = {1,2,3}
set2 = {1,2,3,4}
set_intersect = set1.intersection(set2)
print(set_intersect)

{1, 2, 3}

In [40]:
set1 = {1,2,3}
set2 = {1,2,3,4}
set_dif = set2.difference(set1)
print(set_dif)

{4}

# Tuple

In [41]:
doces = tuple(("chocolate","bom bom","paçoca"))
doces = ('chocolate','bom bom','paçoca')
print(doces)

('chocolate', 'bom bom', 'paçoca')

In [42]:
nums = ('1','2','3')
print(len(nums))

3

In [43]:
nums = ('1','2','3')
print(nums[2])

3

In [44]:
nums = (1,2,3,4,5,6,7,8)
sub_tupla = nums[2:4]
print(sub_tupla)

(3, 4)

In [45]:
nums = (1,2,3,4,5,6,7,8)
print(4 in nums)

True

In [46]:
nums = (1,2,3,4,5,6,7,8)
print(9 in nums)

False

In [47]:
tupla = tuple((10,20,40))
tupla[0] = 20

TypeError: 'tuple' object does not support item assignment

In [49]:
tupla = (6,7,8,9,10,6,6)
print(tupla.count(6))

3

In [50]:
tupla = (5,'3',True,7234)
pos = tupla.index('3')
print(pos)

1

In [51]:
tupla = (5,'3',True,7234)
for x in tupla:
    print(x)

5
3
True
7234

In [53]:
tupla = (5,'3',True,7234)
for i in range(0, len(tupla)):
    print(tupla[i])

5
3
True
7234

In [54]:
tupla = (5,'3',True,7234)
indice = 0
while (indice < len(tupla)):
    print(tupla[indice])
    indice += 1

5
3
True
7234

In [55]:
numeros_set = (1,2,3)
numeros_lista = list(numeros_set)
numeros_lista[0] = 12
numeros_lista.append("Fim")
numeros_set = tuple(numeros_lista)
print(numeros_set)

(12, 2, 3, 'Fim')

# Dictionaries

In [57]:
idades = {'ana':10 ,'maria':20, 'joao':34, 'fernando':'indefinido' }
print(idades)

{'ana': 10, 'maria': 20, 'joao': 34, 'fernando': 'indefinido'}

In [58]:
nome_numeros = {7.1: "sete virgula um", 9.8: "nove virgula oito", 10.43: "dez virgula quarenta e três" }
print(nome_numeros)

{7.1: 'sete virgula um', 9.8: 'nove virgula oito', 10.43: 'dez virgula quarenta e três'}

In [61]:
idades = {'ana':10 ,'maria':20, 'joao':34, 'fernando':'indefinido' }
print(idades['maria'])
print(idades['fernando'])

idades.get('fernando')

20
indefinido

'indefinido'

In [62]:
nome_numeros = {
    7.1: "sete virgula um", 
    9.8: "nove virgula oito", 
    10.43: "dez virgula quarenta e três" 
}

print(nome_numeros[7.1])
print(nome_numeros.get(10.43))

sete virgula um
dez virgula quarenta e três

In [63]:
idades = {'ana':10 ,'maria':20, 'joao':34, 'fernando':'indefinido' }
print("ana" in idades)
print("roberto" not in idades)

True
True

In [64]:
idades = {'ana':10 ,'maria':20, 'joao':34, 'fernando':'indefinido' }
idades['maria'] = 30
idades.update({'joao':40})
print(idades)

{'ana': 10, 'maria': 30, 'joao': 40, 'fernando': 'indefinido'}

In [66]:
idades = {'ana':10 ,'maria':20, 'joao':34, 'fernando':'indefinido' }
idades['marcos'] = 90
idades.pop('ana')
print(idades)
idades.popitem()
print(idades)

{'maria': 20, 'joao': 34, 'fernando': 'indefinido', 'marcos': 90}
{'maria': 20, 'joao': 34, 'fernando': 'indefinido'}

In [71]:
idades = {'ana':10 ,'maria':20, 'joao':34, 'fernando':'indefinido' }
lista = idades.items()
print(lista, end='\n\n')
for item in lista:
    print(item[0], item[1])

dict_items([('ana', 10), ('maria', 20), ('joao', 34), ('fernando', 'indefinido')])

ana 10
maria 20
joao 34
fernando indefinido

In [73]:
idades = {'ana':10 ,'maria':20, 'joao':34, 'fernando':'indefinido' }
chaves = idades.keys()
valores = idades.values()
for item in chaves:
    print(item)
print("----------")
for item in valores:
    print(item)

ana
maria
joao
fernando
----------
10
20
34
indefinido

In [75]:
idades = {'ana':10 ,'maria':20, 'joao':34, 'fernando':20 }
lista_nomes = list(idades.values())
pessoas_com_20_anos = lista_nomes.count(20)
print(pessoas_com_20_anos)

2

In [76]:
idades = {'ana':10 ,'maria':20, 'joao':34, 'fernando':20 }
idades.clear()
print(idades)

{}

In [79]:
dados_maria = {
    'sexo' : 'feminino',
    'cpf'  : '12345678910',
    'rg'   : '19478748'
}
dados_joao = {
    'sexo' : 'masculino',
    'cpf'  : '12345678948',
    'rg'   : '19478745'
}
dados_ana = {
    'sexo' : 'feminino',
    'cpf'  : '14545678948',
    'rg'   : '78778745'
}

dados_por_nome = {
    'ana'   : dados_ana,
    'maria' : dados_maria,
    'joao'  : dados_joao  
}

print(dados_por_nome['maria']['cpf'])
print(dados_por_nome['joao']['sexo'])

12345678910
masculino

In [82]:
dados_por_nome = {
    'ana'  : {
        'sexo' : 'feminino',
        'cpf'  : '14545678948',
        'rg'   : '78778745'
    }, 
    
    'maria': {
        'sexo' : 'feminino',
        'cpf'  : '12345678910',
        'rg'   : '19478748'
    },       
        
    'joao' : {
        'sexo' : 'masculino',
        'cpf'  : '12345678948',
        'rg'   : '19478745'  
    }
    
}

print(dados_por_nome['ana']['rg'])

78778745

# List Comprehensions

In [84]:
lista = [x for x in range(0,10)]
print(lista)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [86]:
lista = ['1','zero','quatro']
lista = [x for x in lista]
print(lista)

['1', 'zero', 'quatro']

In [88]:
lista = [x for x in range(1,11) if x % 2 ==0 ]
print(lista)

[2, 4, 6, 8, 10]

In [89]:
lista_auxiliar = [1,5,9]
lista = [x for x in range(0,11) if x not in lista_auxiliar]
print(lista)

[0, 2, 3, 4, 6, 7, 8, 10]

In [93]:
lista = [x for x in range(-10,20) if x <= 10 if x >=0]
print(lista)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [94]:
lista = [x*2 for x in range(0,11)]
print(lista)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [96]:
lista = [str(x)[0] for x in range(0,21)]
print(lista)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '2']

In [97]:
lista = ['negativo' if x < 0 else 'positivo' for x in range(-3,4)]
print(lista)

['negativo', 'negativo', 'negativo', 'positivo', 'positivo', 'positivo', 'positivo']

In [102]:
lista = [str(x) + ' par' if x % 2 ==0 else str(x) +' impar' for x in range(2,11)]
print(lista)

['2 par', '3 impar', '4 par', '5 impar', '6 par', '7 impar', '8 par', '9 impar', '10 par']

In [103]:
lista = [1,2,3,4,5,6,7,8,9]
lista = list(filter(lambda x: x % 2 == 0, lista ))
print(lista)

[2, 4, 6, 8]

In [106]:
lista = [[x for x in range(1,5)] for y in range(1,5) ]
print(lista)

[[1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4]]

In [109]:
lista = [[ str(x) + str(y) for x in range(1,5)] for y in range(1,5)]
lista

[['11', '21', '31', '41'],
 ['12', '22', '32', '42'],
 ['13', '23', '33', '43'],
 ['14', '24', '34', '44']]

In [114]:
 [[ str(x) + '*' + str(y) + '=' + str(x*y) for x in range(1,11)] for y in range(1,11) ]

[['1*1=1',
  '2*1=2',
  '3*1=3',
  '4*1=4',
  '5*1=5',
  '6*1=6',
  '7*1=7',
  '8*1=8',
  '9*1=9',
  '10*1=10'],
 ['1*2=2',
  '2*2=4',
  '3*2=6',
  '4*2=8',
  '5*2=10',
  '6*2=12',
  '7*2=14',
  '8*2=16',
  '9*2=18',
  '10*2=20'],
 ['1*3=3',
  '2*3=6',
  '3*3=9',
  '4*3=12',
  '5*3=15',
  '6*3=18',
  '7*3=21',
  '8*3=24',
  '9*3=27',
  '10*3=30'],
 ['1*4=4',
  '2*4=8',
  '3*4=12',
  '4*4=16',
  '5*4=20',
  '6*4=24',
  '7*4=28',
  '8*4=32',
  '9*4=36',
  '10*4=40'],
 ['1*5=5',
  '2*5=10',
  '3*5=15',
  '4*5=20',
  '5*5=25',
  '6*5=30',
  '7*5=35',
  '8*5=40',
  '9*5=45',
  '10*5=50'],
 ['1*6=6',
  '2*6=12',
  '3*6=18',
  '4*6=24',
  '5*6=30',
  '6*6=36',
  '7*6=42',
  '8*6=48',
  '9*6=54',
  '10*6=60'],
 ['1*7=7',
  '2*7=14',
  '3*7=21',
  '4*7=28',
  '5*7=35',
  '6*7=42',
  '7*7=49',
  '8*7=56',
  '9*7=63',
  '10*7=70'],
 ['1*8=8',
  '2*8=16',
  '3*8=24',
  '4*8=32',
  '5*8=40',
  '6*8=48',
  '7*8=56',
  '8*8=64',
  '9*8=72',
  '10*8=80'],
 ['1*9=9',
  '2*9=18',
  '3*9=27',
  '4*9=36',
  '5*9=45',
  '6*9=54',
  '7*9=63',
  '8*9=72',
  '9*9=81',
  '10*9=90'],
 ['1*10=10',
  '2*10=20',
  '3*10=30',
  '4*10=40',
  '5*10=50',
  '6*10=60',
  '7*10=70',
  '8*10=80',
  '9*10=90',
  '10*10=100']]