In [1]:
num1 = -10
num2 = 10
print(abs(num1))
print(abs(num2))
print(abs(num1) + abs(num2))

10
10
20

In [2]:
maior_valor = max(10,20,30)
print(maior_valor)

30

In [3]:
list = [-20,1,2.3,3]
print(max(list))

3

In [4]:
list = [-20,1,2.3,3]
print(min(list))

-20

In [5]:
x = 2
y = 3
print(x**y)
print(pow(x,y))

8
8

In [7]:
import math
print(math.sqrt(25))

5.0

In [8]:
print(round(2.4565656,2))

2.46

In [10]:
from math import floor, ceil
print(floor(2.4565656))
print(ceil(2.4565656))

2
3

In [11]:
print(divmod(10,4))

(2, 2)

In [13]:
numero = 71
caractere = chr(numero)
print("O número %d é mapeado para o caractere %s" % (numero,caractere))

O número 71 é mapeado para o caractere G

In [17]:
for i in range(1,101):
    caractere = chr(i)
    print("%d - %s " % (i,caractere), end = '\n' )

1 - 
2 - 
3 - 
4 - 
5 - 
6 - 
7 - 
8 - 
9 -
10 -

11 -
12 -

14 - 
15 - 
16 - 
17 - 
18 - 
19 - 
20 - 
21 - 
22 - 
23 - 
24 - 
25 - 
26 - 
27 - 
28 -
29 -
30 -
31 -
32 -
33 - !
34 - "
35 - #
36 - $
37 - %
38 - &
39 - '
40 - (
41 - )
42 - *
43 - +
44 - ,
45 - -
46 - .
47 - /
48 - 0
49 - 1
50 - 2
51 - 3
52 - 4
53 - 5
54 - 6
55 - 7
56 - 8
57 - 9
58 - :
59 - ;
60 - <
61 - =
62 - >
63 - ?
64 - @
65 - A
66 - B
67 - C
68 - D
69 - E
70 - F
71 - G
72 - H
73 - I
74 - J
75 - K
76 - L
77 - M
78 - N
79 - O
80 - P
81 - Q
82 - R
83 - S
84 - T
85 - U
86 - V
87 - W
88 - X
89 - Y
90 - Z
91 - [
92 - \
93 - ]
94 - ^
95 - _
96 - `
97 - a
98 - b
99 - c
100 - d

In [19]:
caractere ="Ç"
numero = ord(caractere)
print("O caracteres %s se mapeia para o número %d" %(caractere, numero) )

O caracteres Ç se mapeia para o número 199

In [2]:
texto  = "olá, tudo bem"
print(texto.capitalize())

Olá, tudo bem

In [3]:
texto = "isto É EstranhO"
print(texto.lower())
print(texto.upper())
print(texto.swapcase())

isto é estranho
ISTO É ESTRANHO
ISTO é eSTRANHo

In [4]:
texto = "eu sou um ótimo programador python"
print(texto.title())

Eu Sou Um Ótimo Programador Python

In [6]:
texto = "1234567"
print(texto.center(9))
print(texto.center(14))
print(texto.center(14,'-'))

 1234567
   1234567
---1234567----

In [8]:
texto = "1234567"
print(texto.rjust(9))
print(texto.ljust(9))

  1234567
1234567

In [9]:
texto = "1212121212"
print(texto.count("12"))

5

In [10]:
texto = "1212121212"
print(texto.count("121"))

2

In [12]:
texto = "1212121212"
print(texto.startswith("12"))
print(texto.endswith("12"))

True
True

In [13]:
texto = 'me encontra 20 10 5'
pos = texto.find('10')
print(pos)
pos = texto.find('4')
print(pos)

15
-1

In [15]:
texto = 'me encontra 20 10 5'
pos = texto.index('10')
print(pos)
#pos = texto.index('4')
#print(pos)

15

In [16]:
texto = "Ol@ eu sou @ ful@n@"
novo_texto = texto.replace("@","a")
print(novo_texto)

Ola eu sou a fulana

In [17]:
texto = '10,20,30'
print(texto.split(","))

['10', '20', '30']

In [18]:
texto = "Olá, bom dia\n este é um curso de python\n seja bem vindo"
print(texto.splitlines())

['Olá, bom dia', ' este é um curso de python', ' seja bem vindo']

In [20]:
print("abcdE3 ".isalpha())

False

In [22]:
print("abcdE3".isalnum())
print("abcd,E3 ".isalnum())

True
False

In [25]:
print("123.4".isdecimal())
print("123".isdecimal())
print("123s".isdecimal())

False
True
False

In [26]:
print("123".isspace())
print("1   ".isspace())
print(" ".isspace())

False
False
True

In [27]:
print("abc".islower())
print("ABC".isupper())

True
True

In [1]:
lista = [5,10,1,2,2,1,8]
lista.sort()
print(lista)

[1, 1, 2, 2, 5, 8, 10]

In [2]:
lista = ["a","b","x","ab","c","d"]
lista.sort()
print(lista)

['a', 'ab', 'b', 'c', 'd', 'x']

In [3]:
lista = [5,10,1,2,2,1,8]
lista.sort(reverse=True)
print(lista)

[10, 8, 5, 2, 2, 1, 1]

In [7]:
def sort_por_tamanho(item):
    return len(item)

lista = ["b","ab","de","abcd","abc","a"]

lista.sort(key=sort_por_tamanho)
print(lista)

['b', 'a', 'ab', 'de', 'abc', 'abcd']

In [8]:
lista = [5,10,1,2,2,1,8]
lista.reverse()
print(lista)

[8, 1, 2, 2, 1, 10, 5]

In [10]:
produtos =[
           ['carro','R$ 100.000'] ,
           ['cadeira', 'R$ 1000'] ,
           ['Moto', 'R$ 40000'] ,
           ['Geladeira', 'R$ 20000'],
           ['armário', 'R$ 1500' ]
]
for produto, valor in produtos:
    print(produto, valor)

carro R$ 100.000
cadeira R$ 1000
Moto R$ 40000
Geladeira R$ 20000
armário R$ 1500

In [11]:
nomes = ('José','Carlos','João')
dicionario = dict.fromkeys(nomes,10)
print(dicionario)

{'José': 10, 'Carlos': 10, 'João': 10}

In [12]:
import datetime

data_completa = datetime.datetime.now()
data = data_completa.date()
hora = data_completa.time()

print(data_completa)
print(data)
print(hora)

2023-07-11 14:42:07.520926
2023-07-11
14:42:07.520926

In [13]:
import datetime

data_completa = datetime.datetime.now()

print("Dia ", data_completa.day)
print("Mês ", data_completa.month)
print("Ano ", data_completa.year)
print("Hora ", data_completa.hour)
print("Minuto ", data_completa.minute)
print("Segundo ", data_completa.second)

Dia  11
Mês  7
Ano  2023
Hora  14
Minuto  45
Segundo  25

In [16]:
import datetime

data = datetime.date(2000, 9, 30)
data = datetime.date(day = 30,month = 9, year = 2000)
print(data)
print(type(data))

2000-09-30
<class 'datetime.date'>

In [17]:
import datetime
hora = datetime.time(10,30,20)
print(hora)
print(type(hora))

10:30:20
<class 'datetime.time'>

In [19]:
import datetime
data = datetime.datetime(2000, 9, 30, 10, 30, 20)
print(data)

2000-09-30 10:30:20

In [21]:
import datetime
# y ano
# m Mês
# d dia
# H hora
# M minuto
# S segundo

atual = datetime.datetime.now()
current_time = atual.strftime("%y/%m/%d %H:%M:%S")
print(current_time)
print(type(current_time))

23/07/11 14:56:50
<class 'str'>

In [23]:
import datetime
# y ano
# m Mês
# d dia
# H hora formato 00-23
# M minuto
# S segundo

# A dia da semana
# a dia da semana abreviado
# B Nome do Mês
# b nome do mês abreviado
# I hora no formato 12 horas
# p AM PM

data = datetime.datetime(2000, 9, 30, 10, 30, 20)
print(data.strftime("%A - %a"))
print(data.strftime("%B - %b"))
print(data.strftime("%H - %I"))
print(data.strftime("%I - %p"))

Saturday - Sat
September - Sep
10 - 10
10 - AM

In [24]:
import datetime
data1 = datetime.datetime(2020,10,20)
data2 = datetime.datetime(2020,11,20)
diferenca = data2 - data1
print(diferenca)
print(type(diferenca))

31 days, 0:00:00
<class 'datetime.timedelta'>

In [25]:
from datetime import datetime, timedelta

data_atual = datetime.now()
data_futura1 = data_atual + timedelta(weeks= 4)
data_futura2 = data_atual + timedelta(days= 30)
data_futura3 = data_atual + timedelta(hours = 12)
data_futura4 = data_atual + timedelta(minutes = 60)

print("Data atual: ",data_atual)
print("Mais 4 semanas: ",data_futura1)
print("Mais 30 dias: ",data_futura2)
print("Mais 12 horas: ",data_futura3)
print("Mais 60 minutos: ",data_futura4)

Data atual:  2023-07-11 15:12:22.105252
Mais 4 semanas:  2023-08-08 15:12:22.105252
Mais 30 dias:  2023-08-10 15:12:22.105252
Mais 12 horas:  2023-07-12 03:12:22.105252
Mais 60 minutos:  2023-07-11 16:12:22.105252

In [30]:
import datetime

data_2000 = datetime.datetime(2000,1,1,0,0,0)
data_agora = datetime.datetime.now()
diferenca = data_atual - data_2000

print("Desde o ano de 2000 passou ", diferenca.days, " dias")
print("Desde o ano de 2000 passou ", diferenca.seconds, " segundos")
print("Desde o ano de 2000 passou ", diferenca.microseconds, " microsegundos")

anos = int(diferenca.days/365)
meses = anos * 12

print("Desde o ano de 2000 passou ", anos, " anos")
print("Desde o ano de 2000 passou ", meses, " meses")

print(diferenca)

Desde o ano de 2000 passou  8592  dias
Desde o ano de 2000 passou  54742  segundos
Desde o ano de 2000 passou  105252  microsegundos
Desde o ano de 2000 passou  23  anos
Desde o ano de 2000 passou  276  meses
8592 days, 15:12:22.105252

In [31]:
import datetime

data_txt = input("Digite a data no formato dia/mês/ano:")
datetime = datetime.datetime.strptime(data_txt,"%d/%m/%Y")
print(datetime)
print(type(datetime))

Digite a data no formato dia/mês/ano:15/08/1997
1997-08-15 00:00:00
<class 'datetime.datetime'>